<!--/*

  ADOBE CONFIDENTIAL
  __________________

   Copyright 2014 Adobe Systems Incorporated
   All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.

  Draws an image
*/-->
<a
    data-sly-use.logo="logo.js"
    data-sly-unwrap="${!logo.linkUrl}"
    href="${logo.linkUrl}"
    >
      <sly data-sly-use.info="${'Logo' @ text=logo.fileReference}">
      	<sly sly data-sly-test="${logo.width==''}"><sly data-sly-test.width="${info.width}"></sly></sly>
      	<sly sly data-sly-test="${logo.width!=''}"><sly data-sly-test.width="${logo.width}"></sly></sly>
      	<sly sly data-sly-test="${logo.height==''}"><sly data-sly-test.height="${info.height}"></sly></sly>
        <sly sly data-sly-test="${logo.height!=''}"><sly data-sly-test.height="${logo.height}"></sly></sly>
      </sly>
    <img
        src="${logo.fileReference}"
        alt="${logo.alt}"
        title="${logo.alt}"
        width="${width}"
        height="${height}"
        class="${logo.cssClass}"
        data-emptytext="Logo Placeholder"
        usemap="${logo.imageMaps.hash}"/>
</a>
<map
    data-sly-list="${logo.imageMaps.maps}"
    name="${logo.imageMaps.name}">
    <area
        shape="${item.type}"
        coords="${item.coords}"
        href="${item.href}"
        target="${item.target}"
        alt="${item.alt}" 
        title="${item.title}"/>
</map>