<sly data-sly-use.model="com.epam.aem.training.core.models.new_models.FooterModel"/>
<div class="footer-holder" style="min-height: 100px">
        <div class="footer-menu">
        	<sly data-sly-list.column="${model.columns}">
        		<div class="${column.hideInMobile ? 'invisible-for-mobiles' : ''}">
        			<h3>${column.header}</h3>
        			<ul data-sly-list.item="${column.items}">
        				<li>${item.navigationTitle || item.pageTitle}</li>
        			</ul>
        		</div>
        	</sly>
        
                <ul class="footer-column column-social" data-sly-list="${model.socialNetworks}">
                	<li>
                    	<a href="${item.url}" class="footer-icon big ${item.iconclass}" target="_blank">${item.title}</a>
                    </li>
                </ul>
                <div class="footer-sub">
                    <p class="legal">
                    	${model.copyrighttext}
                    </p>
                    <sly data-sly-test=${model.hideBuildInfo}>
						<p class="build-info">
                        	Build: 
                    	</p>
					</sly>
                </div>
        </div>
</div>