<sly data-sly-use.model="com.epam.aem.training.core.models.footer.FooterContainer"/>
<footer class="footer">
	<section class="flex-column last-column">
		<div data-sly-resource="${'footer-columns' @ resourceType='wcm/foundation/components/iparsys'}"></div>
		<content class="footer-column-content invisible-for-mobiles">
			<ul class="footer-list" data-sly-list="${model.socialNetworks}">
				<li class="footer-menu-item">
					<a class="footer-link ${item.iconclass} footer-icon" href="${item.url}">${item.title}</a>
				</li>
			</ul>
		</content>
		<footer class="footer-column-footer">
			<p class="footer-build-info">Build: 1.1.127 (05780ca, 2016-11-30)</p>
			<p class="footer-copyright">${model.copyrighttext}</p>
		</footer>
	</section>
</footer>